<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
   <extension-point id="cvlderivationsemanticsextension" name="cvlderivationsemanticsextension" schema="schema/cvlderivationsemanticsextension.exsd"/>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.inria.diverse.kcvl.derivationengine.execderivation.contribution1"
            nameFilter="*.cvl"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2"
               label="KCVL"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.ProductDerivationAction"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.newAction"
               label="Derive Product"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>
         <!--<action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.CVLSynthesisAction"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.newAction2"
               label="CVL CounterExample Synthesis"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>-->
         <action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.ToFamiliarAction"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.newAction1"
               label="FAMILIAR Report"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>
         <action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.AllProductsDerivationAction"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.deriveAllProducts"
               label="Derive All Product"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="fr.inria.diverse.kcvl.derivationengine.execderivation.contribution1"
            nameFilter="*.kcvl"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2"
               label="KCVL"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.ProductDerivationAction"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.newAction"
               label="Derive Product"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>
         <!--<action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.CVLSynthesisAction"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.newAction2"
               label="CVL CounterExample Synthesis"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>-->
         <action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.ToFamiliarAction"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.newAction1"
               label="FAMILIAR Report"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>
         <action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.AllProductsDerivationAction"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.deriveAllProducts2"
               label="Derive All Products"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>
         <action
               class="fr.inria.diverse.kcvl.derivationengine.execderivation.popup.actions.Convert2CVL"
               enablesFor="1"
               id="fr.inria.diverse.kcvl.derivationengine.execderivation.deriveAllProducts3"
               label="Convert To CVL (XMI)"
               menubarPath="fr.inria.diverse.kcvl.derivationengine.execderivation.menu2/group1">
         </action>
      </objectContribution>
   </extension>
   
</plugin>
